GOBOX_ENV=dev
GOBOX_BASE_URL=https://dev-api.gobox.asia
GOBOX_CLIENT_ID=your_client_id
GOBOX_CLIENT_SECRET=your_client_secret
GOBOX_GRANT_TYPE=client_credentials
GOBOX_DEFAULT_LANG=vn
MCP_TRANSPORT=stdio
PORT=8000
